.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 250px; /* Ancho fijo */
    margin: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animación suave */
}

.card:hover {
    transform: translateY(-5px); /* Efecto hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte en hover */
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #1f271b;
}

.card p {
    font-size: 1em;
    margin: 5px 0;
    color: #343a40;
    font-weight: bold;
}

.DefaultImg {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados en la imagen */
    margin-top: 10px; /* Margen superior entre el contenido y la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
    transition: transform 0.2s ease-in-out; /* Transición suave en hover */
}

.DefaultImg:hover {
    transform: scale(1.05); /* Efecto zoom al hacer hover en la imagen */
}
  