.ItemListContainer {
    display: flex;
    flex-wrap: wrap; /* Asegura que las tarjetas se muevan a la siguiente línea si no caben */
    justify-content: center; /* Centra las tarjetas */
    gap: 20px; /* Espaciado entre las tarjetas */
    margin-top: 120px; /* Separación del NavBar */
    padding: 20px;
}
  
.card {
    background-color: #3BCEAC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}
  