/* 
PALETAS DE COLORES DEL ECOMERCE
#f3fcf0 blanco miel 
#EE4266 red (carayola) - rojo pastel
#1f271b negro bosque
#343a40 negro mas claro
#3BCEAC verde turquesa
#FFD23F amarillo 
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3fcf0;
}
